body {
  scroll-behavior: smooth;
  background-color: rgb(25, 25, 25);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.move-icon {
  height: 50px;
  background-color: rgb(25, 25, 25);
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.move-btn {
  margin: 10px;
  background-color: transparent;
  width: 120px;
  border-radius: 50px;
  height: 120px;
  border: 3px dotted white;
  cursor: pointer;
}

.result {
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  margin-top: 25px;
}

.score {
  margin-top: 30px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.button-container{
display: flex;
justify-content: center;
align-items: center;
gap: 5px;
}
.reset-btn,.auto-play-btn{
color:black;
background-color:white;
border: none;
font-size: 15px;
font-weight: 800;
border-radius: 50px;
cursor: pointer;
}
.reset-btn:hover {
  background-color: gold;
  color: rgb(25, 25, 25);
}
.auto-play-btn:hover{
  background-color:gold;
  color: rgb(25, 25, 25);
}
